body{
  background-color: #F3B06C;
}

nav {
  background-color: #5464A5;
}
nav ul li {
  display: inline-block;
}
img {
  width: 95%;
}
.dataList {
  font-family: serif;
  font-size: 12px;
}
.brown {
  background-color: #AF6A23;
}
a {
  color: #468597;
}
nav a {
  color: #F3CA6B;
}
.bossTable {
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border-collapse: collapse;
}
.bossTable td {
  border-style: solid;
  border-color: black;
  border-collapse: collapse;
  border-radius: 2px;
}
.bossTable th {
  border-style: solid;
  border-color: black;
  border-collapse: collapse;
  border-radius: 2px;
}
